html , body {
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #1d2129;
}

.singnIn {
    background-color: #ebe6e6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columnContainer {
    
    background-color: rgb(255, 251, 251);
    min-height: 300px;    
    max-height: 100%;   
    width: 450px;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 2px;
    padding: 20px 35px;
    box-sizing: border-box;
    overflow-y: auto;
}

.columnForm {
    display: flex;
    flex-direction: column;
}

.columnForm input[type ="text"],
.columnForm input[type="email"],
.columnForm input[type= "password"]{
    font-size: 14px;
    margin:  10px 0px 10px 0px;
    border : none ;
    border-bottom: 1px solid #dedede ;
}

.columnForm input[type="submit"] {
    background-color: rgba(54, 98, 241, 0.986);
    color: #FFF;
    height: 36px;
    width: 88px;
    border :none;
    border-radius: 3px;
    font-size: 16px;
    font-weight:  600px;
    margin : 20px 0px 20px 0px ;
}

.header {
    padding: 20px 0px;
}

.columnContainer .header h3  {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0px;
    padding-top: 16px;
    color: #000;
}
.columnContainer .header span {
    font-size :14px ;
}


.imgContainer {
    width: 200px;
}
.signMessage {
    font-size: 15px;
    font-weight: 400;
}

.errorMessage {
    color:#f00;
    font-size: 14px; 
    font-weight: 400;
    text-align: center;
}